<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lose.forum.dao.ArtileTopicDao">


	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lose.forum.model.ArtileTopic">
		<id column="article_id" property="articleId" />
		<result column="topic_id" property="topicId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        article_id AS articleId, topic_id AS topicId
    </sql>


	<insert id="addArtileTopic" parameterType="com.lose.forum.model.ArtileTopic">
		insert into
		artileTopic
		<trim prefix="(" suffix=")" suffixOverrides=","> 
					article_id,
					topic_id,
				</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=","> 
					#{article_id},
					#{topic_id},
				</trim>
	</insert>
	
	<delete id="deleteArtileTopic" parameterType="com.lose.forum.model.ArtileTopic">
		delete
		from artileTopic
		where
		id=#{id}
	</delete>
	
	<update id="updateArtileTopic" parameterType="com.lose.forum.model.ArtileTopic">
		update 
		artileTopic
		<set>
							<if test="article_id!=null and article_id!=''">
					article_id=#{article_id},
				</if>
							<if test="topic_id!=null and topic_id!=''">
					topic_id=#{topic_id},
				</if>
					</set>
	</update>
	
	<select id="selectArtileTopicById" parameterType="com.lose.forum.model.User" resultMap="BaseResultMap">
		select 
		<include refid="BaseColumnList" />
		from artileTopic
		<where>
			<if test="id!=null and id!=''">
				id=#{id}
			</if>
		</where>
	</select>
	
	<select id="selectArtileTopicList" resultMap="BaseResultMap">
		select 
		<include refid="BaseColumnList" />
		from artileTopic
	</select>
	
</mapper>
