<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lose.forum.dao.ArtileTopicDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lose.forum.model.ArtileTopic">
		<id column="article_id" property="articleId" />
		<result column="topic_id" property="topicId" />
	</resultMap>

</mapper>
