<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lose.forum.dao.UserDao">


	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.lose.forum.model.User">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="password" property="password" />
		<result column="email" property="email" />
		<result column="image" property="image" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        id, name, password, email, image
    </sql>


	<insert id="addUser" parameterType="com.lose.forum.model.User">
		insert into
		user
		<trim prefix="(" suffix=")" suffixOverrides=","> 
					id,
					name,
					password,
					email,
					image,
				</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=","> 
					#{id},
					#{name},
					#{password},
					#{email},
					#{image},
				</trim>
	</insert>
	
	<delete id="deleteUser" parameterType="com.lose.forum.model.User">
		delete
		from user
		where
		id=#{id}
	</delete>
	
	<update id="updateUser" parameterType="com.lose.forum.model.User">
		update 
		user
		<set>
							<if test="id!=null and id!=''">
					id=#{id},
				</if>
							<if test="name!=null and name!=''">
					name=#{name},
				</if>
							<if test="password!=null and password!=''">
					password=#{password},
				</if>
							<if test="email!=null and email!=''">
					email=#{email},
				</if>
							<if test="image!=null and image!=''">
					image=#{image},
				</if>
					</set>
		where id=#{id}
	</update>
	
	<select id="selectUserById" parameterType="com.lose.forum.model.User" resultMap="BaseResultMap">
		select 
		<include refid="BaseColumnList" />
		from user
		<where>
			<if test="id!=null and id!=''">
				id=#{id}
			</if>
		</where>
	</select>
	
	<select id="selectUserList" resultMap="BaseResultMap">
		select 
		<include refid="BaseColumnList" />
		from user
	</select>
	
</mapper>
